<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670008827301-86eqimr9456fs062qqgeqt1955jl6vot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670008827301-86eqimr9456fs062qqgeqt1955jl6vot</string>
	<key>API_KEY</key>
	<string>AIzaSyDE-fpeVFUkzRXA2x4mrfrURmchxi6BMcc</string>
	<key>GCM_SENDER_ID</key>
	<string>670008827301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mogomunch.user</string>
	<key>PROJECT_ID</key>
	<string>storied-storm-362412</string>
	<key>STORAGE_BUCKET</key>
	<string>storied-storm-362412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670008827301:ios:7050c8e01af687a7c0dc4c</string>
</dict>
</plist>